/* Enter your custom styles here */
.headerTexts {
    text-align: center !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.UiLargeMarginBegin {
    margin-left: 6rem !important;
}

.UibarColor {
    background-color: #000 !important;
    height: 2.80rem !important;
    text-shadow: none;
}

.buttonColor .sapMBtnIcon{
    color: #fff !important;
}

.textColorUi {
	text-align: center !important;
    font-size: 16px !important;
    font-weight: bold !important;
	color: #fff  !important; 
}
.aligncorrect{
padding-top:100px;	
    }

.buttonColorblk .sapMBtnIcon{
    color: #000 !important;
}